{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5 p-3">
      <div class="card shadow-sm">
        <div class="card-body p-3">
          <h1 class="task-title h2 text-center">{% trans "Sign Up" %}</h1>
          <form class="auth-form signup-form py-3" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" class= "py-3 gap-3" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="d-grid py-3">
              <button type="submit">{% trans "Sign Up" %} &raquo;</button>
            </div>
          </form>
        </div>
      </div>
      <p class="text-center mt-3">
        {% blocktrans %}Already have an account? Then please
        <a href="{{ login_url }}">sign in</a>.
        {% endblocktrans %}
      </p>
    </div>
  </div>
</div>

{% endblock content %}