{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-7">

      <div class="card p-4 shadow-sm">
        <h2 class="task-title text-center mb-4">Assign chores to a child</h2>

        <!-- get form choose child, reload chores -->
        <form method="get" id="childFilterForm" class="mb-3">
          {{ form.child|as_crispy_field }}
        </form>

        <!-- Post form assign chores -->
        <form method="post">
          {% csrf_token %}

          <!-- keep selected child -->
          <input type="hidden" name="child" value="{{ form.child.value|default:'' }}">

          {{ form.chores|as_crispy_field }}

          <div class=" cancel d-flex justify-content-between mt-4">
            <a href="{% url 'dashboard:dashboard' %}">Cancel</a>
            <button type="submit">Assign</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>


{% endblock %}
