{% extends "base.html" %}



{% block content %}
<div class="container py-4">
  <div id="dashboard-wrapper">
    <div id="dashboard" class="row gy-4">
      <div class="col-12">
        {% if user.is_authenticated %}
        <h1 class="task-title h2 text-center">
          Welcome back! {{ user }}
          <span>Here you can manage your children, assign chores, and reward stickers.</span>
        </h1>
        {% else %}
        <h1 class="task-title h2 text-center"> We are sorry! you are not logged in </h1>
        {% endif %}
      </div>

      <!-- Children + Assign chores -->
      <div id="assign-task" class="row mt-2 gy-4">
        <div class="col-md-5">
          <div class="dashboard-card card-children">
              <i class="fas fa-child dashboard-icon"></i>
              <h2>Children</h2>
              <p>
                {% if children %}
                  <ul class="list-unstyled">
                    {% for child in children %}
                      <li class="d-flex justify-content-between align-items-center mb-2">
                        <span><strong>{{ child.name|capfirst }}</strong></span>
                  
                        <div class="btn-group">
                          <a href="{% url 'dashboard:edit_child' child.id %}"
                             class="btn btn-light btn-sm">
                            <i class="fas fa-edit"></i>
                          </a>
                  
                          <a href="{% url 'dashboard:delete_child' child.id %}"
                             class="btn btn-light btn-sm">
                            <i class="fas fa-trash"></i>
                          </a>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                  
                {% else %}
                  Add your first child to get started.
                {% endif %}
              </p>
            <div>
              <button class="dashboard-btn btn-white-pill text-center" onclick="window.location.href='{% url 'dashboard:add_child' %}'">
                <i class="fas fa-user-plus me-1"></i>
                Add Child
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-7">
          <div class="dashboard-card card-chores">
            <div>
              <i class="fas fa-broom dashboard-icon"></i>
              <h2>Asign Chores</h2>
              <p>Choose a child and a list of age-appropriate chores will appear. Tick the chores you want, then click Assign to add them to that child. Please press Assign chores to begin</p>
            </div>
            <div>
              <button class="dashboard-btn btn-white-pill" onclick="window.location.href='{% url 'dashboard:assign_tasks' %}'">
                <i class="fas fa-plus-circle me-1"></i>
                Assign Chores
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- To do / Rewards -->
      <div id="complete-task" class="row mt-2 gy-4">
        <div class="col-md-7">
          <div class="dashboard-card card-complete">
            <div>
              <i class="fas fa-check-square dashboard-icon"></i>
              <h2>To do & Completed</h2>
              <p>Tick off chores, keep track of what’s done, and see how many stickers they’ve earned.</p>
            </div>
            <div>
              <a class="dashboard-btn btn-white-pill" href="{% url 'dashboard:todo_completed' %}">
                <i class="fas fa-check me-1"></i>
                To do / Completed
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="dashboard-card card-rewards">
            <div >
              <i class="fas fa-star dashboard-icon"></i>
              <h2>Rewards</h2>
              <p>
                “You are a star, and you really can do it!”  
              </p>
              {% if children %}
              <ul class="list-unstyled mt-3">
                {% for child in children %}
                  <li class="mb-2">
                    <strong>{{ child.name|capfirst }}</strong>:
                    <small><i class="fas fa-star "></i></small>{{ chils.total_stars}}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <p>No children added yet.</p>
            {% endif %}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
{% endblock %}
