{% extends "base.html" %}

{% block content %}
<div class="container py-5">
  <div class="row g-4">

    <!-- ToDo box -->
    <div class="col-lg-6">
      <div class="card p-4 shadow-sm h-100">
        <h2 class="task-title h4 mb-3">To do</h2>

        <form method="post" action="{% url 'dashboard:mark_done' %}">
          {% csrf_token %}

          {% if todo_tasks %}
            <div class="list-group">
              {% for task in todo_tasks %}
                <label class="list-group-item d-flex align-items-start gap-2">
                  <input class="form-check-input mt-1" type="checkbox" name="task_ids" value="{{ task.id }}">
                  <div class="list-group-item">
                    <div class="fw-bold">{{ task.task.title }}</div>
                    <span class="text-muted">Child: {{ task.child.name|capfirst }}</span>
                  </div>
                </label>
              {% endfor %}
            </div>

            <div class="d-flex justify-content-end mt-3">
              <button  type="submit">
                Mark as complete
              </button>
            </div>
          {% else %}
            <p class="text-muted mb-0">No chores to do right now.</p>
          {% endif %}
        </form>
      </div>
    </div>

    <!--Completed box -->
    <div class="col-lg-6">
      <div class="card p-4 shadow-sm h-100">
        <h2 class="task-title h4 mb-3">Completed</h2>

        {% if done_tasks %}
          <div class="list-group">
            {% for task in done_tasks %}
              <div class="list-group-item">
                <div class="fw-bold">{{ task.task.title }}</div>
                <span class="text-muted">
                  Child: {{ task.child.name|capfirst }} • <i class="fa-solid fa-star"></i> {{ task.stickers_awarded }}
                </span>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <p class="text-muted mb-0">No completed chores yet.</p>
        {% endif %}
      </div>
    </div>

  </div>
</div>
{% endblock %}
